// 头部样式
$base-color:#71d1cc;
$white:#fff;
#header{
	color:$white;
	background:$base-color;
	padding:0.14rem 0.15rem;
	text-align:center;

	position:relative;
	img{
		width:0.3rem;
		height:0.3rem;
		position:absolute;
		right:0;
		top:0;
	}


	span{
		position:absolute;
		width:0.3rem;
		height:.3rem;
		overflow:hidden;
		right:0.15rem;
		transition:all .4s linear;
		background:$base-color;
		text-align:left;

		&.active{
			width:calc(100% - 0.3rem);

		}
	}

	input{
		width:calc(100% - 0.35rem);
		height:100%;
		border:none;
		outline: none;
		background:transparent;
		font-size:0.2rem;
		color:$white;

	}


}


